<h2>
    Login
</h2>
<form id="login">
    email: <input id="login-email" /><br />
    password: <input id="login-password" /><br />
    <input type="submit" value"login" />
</form>

<hr />

<h2>
    Signup
</h2>
<form id="signup">
    username: <input id="signup-username" /><br />
    email: <input id="signup-email" /><br />
    password: <input id="signup-password" /><br />
    <input type="submit" value"login" />
</form>

<script>
        document.getElementById('login').addEventListener('submit', (event) => {
        event.preventDefault();
        fetch('/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                email: document.getElementById('login-email').value,
                password: document.getElementById('login-password').value
            })
        }).then(res => {
            if (res.ok) {
                window.location.replace(
                    '/posts'
                );
            }
        })
    });

    document.getElementById('signup').addEventListener('submit', (event) => {
        event.preventDefault();
        fetch('/signup', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                username: document.getElementById('signup-username').value,
                email: document.getElementById('signup-email').value,
                password: document.getElementById('signup-password').value
            })
        }).then(res => {
            if (res.ok) {
                window.location.replace(
                    '/posts'
                );
            }
        })
    });
</script>